*{
    margin: 0;
    padding: 0;
}
body{
    font: 400 14px/1.5 'Hind', sans-serif;
}
/*Общие параметры ссылок*/
a {
    text-decoration: none;
    display: inline-block;
    position: relative;
}
a:link {color: inherit;}
a:active {color: inherit;}
a:visited {color: inherit;}
a:hover {color: inherit;}

.clearfix:after,
.clearfix:before{
    display: table;
    content: "";
}
.clearfix:after{
    clear: both;
}

/*Верхняя часть хедера*/

.contacts{
    background: #ededed;
    width: 100%;
    height: auto;
}
.cityChoise{
    background: #212121;
    color: #FFFFFF;
    font-size: 15px;
    border-radius: 5px;
    float: left;
    margin: 1% 0 1% 10%;
    padding: 8px;
}
.adress{
    color: #565655;
    font-size: 15px;
    float: left;
    margin: 1.5% 0 1% 2%;
}
.fa-angle-down, .fa-location-arrow{
    font-size: 20px;
}
.fa-phone{
    font-size: 20px;
    font-weight: bold;
}
.socialNetwork{
    float: right;
    font-size: medium;
    margin: 1.5% 8% 1% 0;
}

/*Настройка отображения середины хедера*/

.logo{
    background: #FFFFFF;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoPicture{
    flex-basis: 40%;
    height: auto;
    margin: 2% 0 2% 10%;
}
.logoPicture img{
    width: 70%;
    height: auto;
}
.services{
    flex-basis: 45%;
    margin-right: 5%;
}
.services li {
    display: inline-block;
    font-weight: 100;
    border-left: 1px solid #e6e6e6;
    font-size: 15px;
    width: 30%;
    margin-top: 2%;
}
.services li > a{
    width: 100%;
}
.fa-check-circle-o{
    font-size: 19px;
    font-weight: normal;
    margin: 0 5% 0 5%;
}
.services li > p{
    font-size: 15px;
    color: #8c8c8c;
    padding-left: 18%;
    width: 100%;
}
.services li:first-child {
    border: none;
}

/*Slider area*/

.slider{
    background: #000000 url("../Image/MainPicture2.png") right no-repeat;
    background-size: contain;
    width: auto;
    height: 870px;
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-direction: column;
}
.menu{
    background: #000000;
    font-size: medium;
    flex-basis: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0.8;
}
.textMenu{
    margin: 0 0 0 5%;
    flex-basis: 90%;
}
.textMenu li{
    display: inline;
    color: #FFFFFF;
    font-size: large;
    font-weight: 500;
    margin: 0 0 0 2%;
}
.textMenu li:hover{
    border-bottom: red 5px solid;
}
.searchIcon{
    flex-basis: 10%;
}
.submit{
    background-color: inherit;
    color: #FFFFFF;
    font-size: medium;
    font-weight: 100;
    border: none;
    cursor: pointer;
}
.mobile-menu{
    color: #fff;
    font-size: 24px;
    margin: 0 0 0 5%;
    display: none;
    cursor: pointer;
}
.man-text{
    color: #FFFFFF;
    width: 100%;
    height: auto;
    flex-basis: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.slide-left, .slide-right{
    font-size: 60px;
    flex-basis: 5%;
    cursor: pointer;
}
.slide-left{
    margin-left: 3%;
}
.man-central-text{
    flex-basis: 90%;
}
.man-text-1{
    color: #bd2631;
    font-weight: bold;
}
.man-text-2{
    font-size: 30px;
    font-weight: bold;
}
.man-text-3, .man-text-1{
    font-size: 20px;
}
.red-row {
    width: 100%;
    background: #bd2631;
    flex-basis: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.red-row-text{
    flex-basis: 80%;
    margin-left: 12%;
    color: #FFFFFF;
    font-size: 20px;
}
.red-row-text > span{
    font-size: 25px;
}
.red-row-button{
    flex-basis: 5%;
    margin-right: 12%;
}.red-row-button button{
     border: hidden;
     border-radius: 5px;
     cursor: pointer;
     background: #FFFFFF;
     font-size: 14px;
     font-weight: bold;
     width: 100px;
     height: 50px;
 }
/*Nine picture collage block*/

.collage{
    display: flex;
    align-content: stretch;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.fifty{
    flex-basis: 50%;
    background: #000000;
    display: flex;
    align-content: center;
    flex-direction: row;
}
.fifty div{
    width: 40%;
    z-index: 1;
    position: absolute;
    align-self: center;
    color: #FFFFFF;
    margin: 0 0 0 5%;
}
.fifty div > span{
    font-size: 30px;
    color: #bd2631;
}
.quarter{
    flex-basis: 25%;
}
.img-collage{
    width: 100%;
    height: 100%;
}
.row-3-2{
    background: #000000;
}
.rakel{
    width: 50%;
    height: auto;
    margin: 45% 0 0 25%;
}

/*Safe Green Ready block*/

.super-company{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.super-company li{
    display: inline;
    text-align: center;
    margin: 4% 4% 4% 4%;
    font-weight: bold;
}
.super-company li > img{
    width: 40%;
    height: auto;
}
.red-text{
    color: #bd2631;
    font-size: 30px;
}

/*Critical Power Application block*/

.critical-power{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../Image/ProzrachnostRightLine.png") #000000 no-repeat right;
    background-size: contain;
    width: 100%;
    height: auto;
}
.rental-img{
    margin: 2% 0 2% 0;
    flex-basis: 30%;
}
.crit-power-text{
    color: #FFFFFF;
    font-size: 30px;
    flex-basis: 30%;
}
.img-ups{
    width: 70%;
    height: auto;
}

/*Five pictures block*/

.data{
    float: left;
    width: 20%;
    height: auto;
}
.five-image{
    width: 100%;
    height: auto;
}

/*Red menu block*/

.red-menu{
    background: #bd2631;
}
.red-menu-text{
    float: left;
    width: 20%;
    color: #FFFFFF;
    text-align: center;
    margin: 1.5% 0 1.5% 0;
    font-size: medium;
    font-weight: bold;
}

/*Partners Logo*/

.partners{
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners div{
    margin: 3% 2% 3% 2%;
    cursor: pointer;
}

/*About block*/

.contact-podval{
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 5% 0% 3% 5%;
    background: #242424;
    color: #FFFFFF;

}
.contact-podval li{
    display: inline-block;
    width: 20%;
    text-align: left;
    border-right: solid 1px;
    padding: 0 2% 0 2%;
}
.contact-podval li:last-child{
    border: none;
}
.header-text{
    color: #bd2631;
    font-size: 20px;
    font-weight: bold;
}
.contact-podval p > span{
    color: #bd2631;
    font-weight: bold;
}

/*Copyright block*/

.copyright{
    background: #000000;
    color: #FFFFFF;
}
.copyright div{
    float: left;
    margin: 2% 5% 2% 5%;
    width: 40%;
}
.hand-made{
    text-align: right;
}


/*Responsive*/
@media screen and (max-width: 1130px) {
    .services li {
        font-size: 13px;
        text-align: center;
        vertical-align: top;
    }
}
    @media screen and (max-width: 1050px){

        .adress{
            text-align: left;
            width: 40%;
            font-size: 13px;
            margin: 0.5% 0 0 2%;
        }
        .socialNetwork{
            position: relative;
            float: left;
            text-align: left;
            margin: 0.5% 0 0 2%;
        }
    }

    @media screen and (max-width: 805px){

        .textMenu li{
            font-size: medium;
        }
        .services li > p{
            font-size: 10px;
        }
        .contact-podval li > p{
            font-size: small;
        }
}
@media screen and (max-width: 680px) {
    .red-row-text{
        font-size: small;
    }
    .red-row-text span{
        font-size: small;
    }
    .red-menu-text{
        font-size: small;
    }
    .services li > p{
        display: none;
    }
    .cityChoise{
        margin: 6% 0 6% 10%;
    }
    .textMenu li{
        font-size: 10px;
    }
    .searchIcon button{
        font-size: 10px;
    }
    .searchIcon{
        flex-basis: 5%;
    }
    .contact-podval li > p{
        font-size: 12px;
    }
    .fifty div > p{
        font-size: 10px;
    }
    .fifty div > span{
        font-size: 16px;
    }
}
@media screen and (max-width: 400px){
    .socialNetwork{
        width: 100%;
        text-align: center;
    }
.textMenu li{
    display: none;
}
.mobile-menu{
    display: block;
}
.searchIcon{
    flex-basis: 20%;
}
    .textMenu li{
        font-size: small;
    }
    .contact-podval li > p{
        font-size: 10px;
    }
}